.payment-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;

    .nav {
        background-color: #f5f5f5;

        .nav-content {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .nav-left {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.81);
            }
        }
    }

    .content {
        width: 100%;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;

        .bill-top {
            width: 90%;
        }

        .bill-content {
            width: 87.9%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .people-info {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .table-info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }

            .list {
                overflow: hidden;

                .list-item {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .left {
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        .left-info {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }

                    .right {
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: flex-end;
                    }
                }
            }

            .fold-goods-list {
                margin-top: 15rpx;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: #666666;
            }

            .coupon {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .left {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                }

                .right {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    color: rgb(249, 44, 26);
                }
            }
        }

        .price {
            height: 50rpx;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }

        .bill-bottom {
            width: 90%;
        }

        .notes {
            margin: 20rpx 0;
            border-radius: 20rpx;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
        }

        .no-login {
            position: fixed;
            margin-top: 15rpx;
            width: 95%;
            height: 100rpx;
            background-color: #3A3A3A;
            border-radius: 20rpx 20rpx 0 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: #fff;
        }
    }

    .bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .left {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
    }

    .goods-coupon-popup {
        .use-coupon {
            width: 100%;
        }

        .goods-coupon-item {
            margin-bottom: 15rpx;
            background: #fff;
            border-radius: 15rpx;

            .item-top {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .item-top-right {
                    height: 100%;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    color: #999;
                }
            }

            .item-bottom {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .nut-textarea {
        background-color: #f5f5f5;
    }
}