.mine-page {
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;
  position: relative;

  .mine-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 25%;
  }

  .mine-content {
    position: absolute;
    left: 0;
    z-index: 20;
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .mine-content-item {
      background-color: #fff;
      border-radius: 15rpx;
    }

    .mine-content-top {
      display: flex;
      flex-direction: row;
      align-items: center;

      .mine-content-top-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 75%;

        .mine-content-top-left-name {
          margin-left: 15rpx;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
      }

      .mine-content-top-right {
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
      }
    }

    .mine-content-middle {
      margin-top: 25rpx;

      .mine-content-middle-top {
        // height: 10%;
        width: 100%;
        font-weight: bold;
      }

      .mine-content-middle-bottom {
        // height: 90%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .mine-content-middle-bottom-item {
          width: 33.33%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .item-top {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }

          .item-bottom {
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    .mine-content-bottom {
      margin-top: 25rpx;

      .mine-content-bottom-top {
        // height: 10%;
        width: 100%;
        font-weight: bold;
      }

      .mine-content-bottom-bottom {
        // height: 90%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .mine-content-bottom-bottom-item {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}